.hiroba{
    position: fixed;
    right:0;
    color: #663300;/*文字色*/
padding: 0.5em;/*文字周りの余白*/
display: inline-block;/*おまじない*/
line-height: 2;/*行高*/
background: #dbebf8;/*背景色*/
vertical-align: middle;/*上下中央*/
border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
   
}
.hiroba:before {
content: '●';
color: white;
margin-right: 8px;
}
body {
    background-image: url("background.png");
}
.kakikomihiroba{
float: left;
width: 200px;
  height: 500px;

    color: #663300;/*文字色*/
padding: 0.5em;/*文字周りの余白*/
/*line-height: 2;行高*/
background: #ffffcc;/*背景色*/
/*vertical-align: middle;上下中央*/
border-radius: 25px 25px 25px 25px;
}
.kakikomihiroba:before {
content: '●';
color: white;
margin-right: 8px;
}
.hyouzi{

    border-radius: 20px;
    background: #d7ebfe;
    margin: 5px 0 0 5px;
    padding: 17px 17px;
    color: #663300;/*文字色*/
}

.hyouzi::after {
    content: "";
    display: inline-block;
    position:absolute;
    left: 210px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
/*        右ボーダーのスタイル・太さ・色を指定する*/
}
.hyouzi_zentai{
float: left;
left: 400px;
display: inline-block;
/*        右ボーダーのスタイル・太さ・色を指定する*/
}
